body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: dodgerblue;
}
.main {
  text-align: center;
  background-color: dodgerblue;
  height: 100vh;
}
.header {
  background-color: darkblue;
  padding: 10px 0;
  color: white;
}
.textarea {
  width: 40%;
  margin: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid dodgerblue;
}
.textarea:focus {
  outline: none;
}
.addButton {
  background-color: darkblue !important;

  cursor: pointer;
}
.addButton:hover {
  background-color: rgb(30, 194, 30);
}
