<div class="main">
  <div class="header">
    <h1>My Todo App</h1>
  </div>
  <div class="main-content">
    <form>
      <input
        type="text"
        class="textarea"
        placeholder="Add a Todo"
        (input)="newTodoValue($event)"
        value="{{ newTodo }}"
      />
      <button
        class="btn btn-primary m-2 addButton"
        type="submit"
        (click)="onAddTodo()"
      >
        Add
      </button>
      <button class="btn btn-danger" (click)="onClear()">Clear All</button>
    </form>

    <app-post
      *ngFor="let singleTodo of todo; let i = index"
      [todo]="singleTodo"
      (todoEdited)="editTodo(i)"
      (todoDeleted)="deleteTodo(i)"
    ></app-post>
  </div>
</div>
